@font-face {
  font-family: "iconfont"; /* Project id 4326079 */
  src: url('iconfont.woff2?t=1699685695262') format('woff2'),
       url('iconfont.woff?t=1699685695262') format('woff'),
       url('iconfont.ttf?t=1699685695262') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e672";
}

